---
layout: default
---
<article class="post">

  <header class="post-header mb-3">
    <h1 class="post-title">{{ page.name }}</h1>
    {% if page.authors != empty %}
      <p class="post-authors mb-0 post-meta">
        <strong>Authored By: </strong>
        {% for subcat in page.authors %}
          {{ subcat }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </p>
    {% endif %}
    <p class="post-languages mb-0 post-meta">
      <strong>Language: </strong>
      {% for lang in page.language %}
        <a href="/optimisations/{{ lang | slugify: 'pretty' }}/">{{ lang }}</a>{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </p>
    {% if page.subcategory != empty %}
      <p class="post-subcategories mb-0 post-meta">
        <strong>Subcategory: </strong>    
        {% for subcat in page.subcategory %}
          {{ subcat }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </p>
    {% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>

</article>
